<h1>STUFT</h1>


  <% if current_user %>
  Welcome <%= current_user.username %>! <br>
  <%= link_to "Sign Out", signout_path %> <br>


<% else %>
  <%= link_to "Sign in with Instagram", "/auth/instagram" %> <br>

<% end %>


<% @all_plates.each do |plate| %>
  <%= link_to image_tag(plate.url), plate_path(plate), id: "#{plate.id}" %>
  <p><%= plate.description %></p>
<% end %>

<!-- link_to image_tag("Search.png", :border => 0), {:action => 'search', :controller => 'pages'}, :class => 'dock-item' -->
