<%= image_tag @plate.url, id: "selected_plate", class: "large-photo" %>

<div class="text-center">
  <h1><%= @plate.description %></h1>
  <h2>Location: <%= @plate.location %></h2>
  <h2 id="price-display">Price:</h2>
</div>

<%= button_to("drool", plates_drool_path(:id => params[:id]), :method => :post) %>

<%= render 'show_plate_pricing' %>
